RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^feeds/?$    feeds.php    [NC,L]    # Handle requests for "feeds"
RewriteRule    ^login/?$    login.php    [NC,L]    # Handle requests for "login"
RewriteRule    ^signup/?$    signup.php    [NC,L]    # Handle requests for "signup"
RewriteRule    ^dashboard/?$    dashboard.php    [NC,L]    # Handle requests for "dashboard"
RewriteRule    ^post_a_book/?$    post_ad11.php    [NC,L]    # Handle requests for "post_ad form no 1"
RewriteRule    ^confirm_seller/?$    confirm_seller.php   [NC,L]    # Handle requests for "Confirm Seller form"
RewriteRule    ^messages/?$    messages.php    [NC,L]    # Handle requests for "messages"
RewriteRule    ^book_details/?$    book_details.php    [NC,L]    # Handle requests for "book details page"
RewriteRule    ^home/?$    index.php    [NC,L]    # Handle requests for "index"
RewriteRule    ^book_request/?$    book_request.php    [NC,L]    # Handle requests for "index"
RewriteRule    ^about_us/?$    about_us.php    [NC,L]    # Handle requests for "about us"
RewriteRule    ^terms/?$    terms.php   [NC,L]    # Handle requests for "terms"
RewriteRule    ^privacy/?$    privacy.php   [NC,L]    # Handle requests for "privacy"
RewriteRule    ^our_story/?$    our_story.php   [NC,L]    # Handle requests for "our_story"
RewriteRule    ^how_it_works/?$    how_it_works.php   [NC,L]    # Handle requests for "how it works"
RewriteRule    ^search_books/?$    search_results.php   [NC,L]    # Handle requests for "search results"
RewriteRule    ^feedback/?$    feedback.php   [NC,L]    # Handle requests for "feedback form"
RewriteRule    ^logout/?$    auth.php   [NC,L]    # Handle requests for "Logout"