#main_content
{
	min-height:480px;
}
#footer  ul{
	list-style-type: none;
	padding-left: 0px!important;
}
#footer  a
{
	text-decoration: none;
		color: #d7d7d7;

}
#footer  a:hover
{
	text-decoration: none;
		color: #99FFCC;
}
#footer 
{
	background-color: #606060;
	color: #d7d7d7;
}
#footer  .row_heading
{
	font-size: 20px;
	border-bottom: 1px solid #808080;
	margin-top: 15px;
	padding-bottom: 5px;
}
#footer  li{
	margin-top: 10px;
}
/*#footer  .footer_columns
{
	min-height: 300px;
}*/